@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  color: #cbf281;
  font-family: "Inter";
}

#root {
  --hafif-mor: #4731d3;
  --koyu-mor: #3730a3;
  --acik-yesil: #cbf281;
  --dark-mavi: #171043;
  --dark-yesil: #211f0b;
  --dark-skills: #252128;
  --dark-proje: #1a210b;
  --darkken-yazi: #d9d9d9;
  --darkken-yazi-iki: #bab2e7;
  --acik-mor: #c1baed;
  --kapali-mor: #8173da;
  --footer-mor: #8f88ff;
}

.slider:before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ffe86e;
  border-radius: 50%; /* Yuvarlak düğme */
  transition: 0.4s;
}

/* Checkbox seçildiğinde kaydırıcıyı hareket ettir */
.switch input:checked + .slider {
  justify-content: flex-start;
}

.switch input:checked + .slider:before {
  background-color: #555555;
  box-shadow: inset 0.4rem 0px 0px 0 #ffe86e;
}

/* Checkbox seçildiğinde arka plan rengini değiştir */
.switch input:checked ~ .slider {
  background-color: #555555;
  border-radius: 2rem; /* Yuvarlak köşeler */
}

.clip-path-ay {
  clip-path: ellipse(50% 50% at 30% 50%);
}

.girisArkaPlani {
  background: linear-gradient(
    to right,
    #4731d3,
    #4731d3 75.2%,
    #cbf281 24.8%,
    #cbf281
  );
}

.dark .girisArkaPlani {
  background: linear-gradient(
    to right,
    #171043,
    #171043 75.2%,
    #211f0b 24.8%,
    #211f0b
  );
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 980px) {
  .almila {
    flex-direction: column;
    align-items: start;
  }

  .giris {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .girisArkaPlani {
    background: linear-gradient(
      to right,
      #4731d3,
      #4731d3 100%,
      #cbf281 0%,
      #cbf281
    );
  }

  .dark .girisArkaPlani {
    background: linear-gradient(
      to right,
      #171043,
      #171043 100%,
      #211f0b 0%,
      #211f0b
    );
  }

  .darkModum {
    color: #cbf281;
  }

  .giris .linkler {
    justify-content: center;
  }

  .girisArkaPlani {
    padding: 2rem;
  }

  .skills {
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .skillsMapi {
    justify-content: center;
  }

  .profil {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .profilAlti {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .bilgi {
    text-align: left;
    gap: 2rem;
    justify-content: flex-start;
    
  }

  .projem {
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tekProje {
    flex-direction: column;
  }

  footer {
    padding: 2rem;
    text-align: center;
  }
}
