@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  color: #cbf281;
  font-family: "Inter";
}

#root {
  --hafif-mor: #4731d3;
  --koyu-mor: #3730a3;
  --acik-yesil: #cbf281;
}

.slider:before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ffe86e;
  border-radius: 50%; /* Yuvarlak düğme */
  transition: 0.4s;
}

/* Checkbox seçildiğinde kaydırıcıyı hareket ettir */
.switch input:checked + .slider {
  justify-content: flex-start;
}

.switch input:checked + .slider:before {
  background-color: #555555;
  box-shadow: inset 0.4rem 0px 0px 0 #ffe86e;
}

/* Checkbox seçildiğinde arka plan rengini değiştir */
.switch input:checked ~ .slider {
  background-color: #555555;
  border-radius: 2rem; /* Yuvarlak köşeler */
}

.clip-path-ay {
  clip-path: ellipse(50% 50% at 30% 50%);
}

.girisArkaPlani {
  background: linear-gradient(
    to right,
    #4731d3,
    #4731d3 75.2%,
    #cbf281 24.8%,
    #cbf281
  );
}
